body {
    background-image: url('../assests/images/main.jpg68442a54-22c0-4503-8859-c510eb0c46c0Original.jpg');
    
  }
  
.page-header {
    text-align: center;
    width: 550px;
    margin-left: 275px;

}